:root {
  --clr-primary: #67c768;
  --clr-primary-light: rgba(103, 199, 105, 0.05);
  --clr-text: #1e1e1e;
  --clr-danger: #c76767;
  --clr-gray: #c9c9c9;
  --clr-dark-light: #4f4f4f;
  --clr-white: #ffffff;
}
