<main class="main">
  <div class="img">
    <img src="assets/images/image.jpeg" alt="student" />
    <div class="intro">
      <h2>Title</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ut hic
        iusto repudiandae voluptatem possimus. Repellendus magni facilis quas
        vero deleniti, atque nemo! Culpa ea error, corrupti ab sequi odio.
      </p>
    </div>
  </div>
  <div class="form-content">
    <app-registration></app-registration>
  </div>
</main>
